<div>
  <div>
    <img
      src="assets/app-assets/images/cabecalho/tela-inicio/carros-estacionados.png"
      alt="carros estacionados"
      width="100%"
    />
  </div>
  <div>
    <img
      src="assets/app-assets/images/cabecalho/tela-inicio/imagem-usuario.png"
      alt="usuário autenticado"
    />
  </div>
</div>
<div>
  <input type="search" placeholder="buscar carro" /><i class="fa fa-search"></i>
  <button class="btn btn-primary"><i class="fas fa-filter"></i>Filtrar</button>
  <div>
    <span><b>Últimas Reservas</b></span>
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <div *ngFor="let item of listaDeCarros()">
            <div class="d-block">
              <img [src]="item.img" alt="carro" />
              <span
                ><b>{{ item.name }} - {{ item.year }}</b></span
              >
              <span>{{ item.type }}</span>
              <span>Motor {{ item.engine }}</span>
              <span>{{ item.size }} Lugares</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-primary"><i class="fas fa-qrcode"></i> Acessar por QR code</button>
  </div>
</div>
<div>
  <!-- espaço para o menu no rodapé -->
   <div class="d-flex">
     <i class="fas fa-home"></i>
<i class="fas fa-book"></i>

<i class="fas fa-headset"></i>
<i class="fas fa-user"></i>
   </div>

</div>
