@use '../base/variables';

.opacity {
  opacity: 12%;
}

.text {
  font-size: variables.$font-size-base;
  color: variables.$light-color;
}

.text-primary-g {
  color: variables.$black-text-color;
}

.layout-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.icons {
  font-size: 2rem;
}

.user-img {
  position: absolute;
  top: 70px;
}

.overlaid-img {
  position: absolute;
  top: 250px;
}

.no-container {
  position: relative;
  margin-left: -40px;
  margin-right: -40px;
}

.footer-g{
  border-top: 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.accordion-custom {

  .accordion-button {
    background: #e9e9e9;
    font-weight: 600;
    color: variables.$black-text-color;
    box-shadow: none;
  }

  .accordion-button:not(.collapsed) {
    background: #e9e9e9;
    color: variables.$black-text-color;
  }

  .accordion-body {
    background: #f7f7f7;
  }

  .form-check {
    margin-bottom: 10px;
  }

  .form-check-input {
    border: 2px solid variables.$black-text-color;
    width: 18px;
    height: 18px;
  }

  .form-check-input:checked {
    background-color: variables.$secondary-color;
    border-color: variables.$secondary-color;
  }

  .form-check-label {
    margin-left: 8px;
    font-size: 15px;
  }

  .text-title {
    font-size: variables.$font-size-title !important;
  }

  .accordion-item {
    border: none !important;
  }
}
