@use '../base/variables';

.opacity {
  opacity: 12%;
}

.text {
  font-size: variables.$font-size-base;
  color: variables.$light-color;
}

.text-primary-g {
  color: variables.$black-text-color;
}

.layout-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.icons {
  font-size: 2rem;
}

.user-img {
  position: absolute;
  top: 70px;
}

.overlaid-img {
  position: absolute;
  top: 250px;
}

.no-container {
  position: relative;
  margin-left: -40px;
  margin-right: -40px;
}

.footer-g{
  border-top: 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
