// Text Colors
$black-text-color: #1D2B3A;
$gray-text-color: #AFAFAF;

// Cores
$primary-color: #1D2B3A;
$secondary-color: #C61D35;


// Cores neutras
$light-color: #ffffff;


//Width
$container-width: 1170px;

// Tipografia
$font-family-base: 'Poppins', sans-serif;
$font-size-base: 1.4rem;
$font-size-title: 18px;
